p{
  font-size: 20px;
}

.stocks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1{
text-align: center;  
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: purple;
  color: white;
  padding: 40px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}
